#tool_desc {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#tool_desc .tool-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.tool-info {
  padding: 20px;
}

#tool_desc .tool-box img {
  width: 600px;
  padding: 20px;
  border-radius: 50px;
}
@media screen and (max-width: 1200px) {
  #tool_desc .tool-box {
    flex-direction: column;
    width: 75%;
  }
  #tool_desc .tool-box img {
    width: 100%;
    padding: 20px;
    border-radius: 50px;
  }
  #tool_desc{
    padding-top: 60px;
  }
}
@media screen and (max-width: 570px) {
  #tool_desc .tool-box {
    flex-direction: column;
    width: 95%;
  }
  #tool_desc .tool-box img {
    width: 100%;
    padding: 20px;
    border-radius: 50px;
  }
}
