{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    {% block title %}
    {% endblock %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3a9fff">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    

    {% block styles %}
    {% endblock %}

</head>

<body>
    <header class="header">
        <div class="container header__container">
            <div class="header__logo"><img class="header__img" src="{% static 'img/logo.png' %}" alt="AI Arsenal Logo">
                <a href="{% url 'home' %}">
                    <h1 class="header__title">AI Arsenal</h1>
                </a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="header__menu">
                <nav id="navbar" class="header__nav collapse">
                    <ul class="header__elenco">
                        <li class="header__el"><a href="{% url 'home' %}" class="header__link">Home</a></li>
                        <li class="header__el"><a href="{% url 'contact' %}" class="header__link">Contact us</a></li>
                        <li class="header__el header__el--blue"><a href="" class="btn btn--white">Submit →</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>



    {% block body %} {% endblock %}





    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <img class="footer__img" src="{% static 'img/logo.png' %}" alt="AI Arsenal Logo">
                    <!-- <h1 class="footer__title">AI Arsenal<span class="footer__light">.io</span></h1> -->
                    <h1 class="footer__title">AI Arsenal</h1>
                </div>
                <div class="col-md-10 col-xs-6">
                    <div class="footer__social">
                        <a href="#" class="footer__social-l">
                            <img src="{% static 'img/twitter.svg' %}" alt="Twitter Logo" />
                        </a>
                        <a href="#" class="footer__social-l">
                            <img src="{% static 'img/fb.svg' %}" alt="Facebook Logo" />
                        </a>

                        <a href="https://harshvardhan.works/" class="footer__social-l">
                            <img src="{% static 'img/website.svg' %}" alt="Website Logo" />
                        </a>

                        <a href="https://www.linkedin.com/in/harshvardhansinghsisodia/" class="footer__social-l">
                            <img src="{% static 'img/linkedin.svg' %}" alt="LinkedIn Logo" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright" style="text-align: center;">
            <p class="price-box__price">© Copyright 2023. Made by <a target="_blank" href="https://harshvardhan.works/" style="text-decoration: none;"><strong>Harshvardhan Singh Sisodia</strong></a> & <a target="_blank" href="#" style="text-decoration: none;"><strong>Vinayak Chhatrashali</strong></a></p>
        </div>
    </footer>

    <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>

</html>