{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>AI Arsenal: The Ultimate Resource for AI Tools - Contact</title>
<meta  content="AI Arsenal: The Ultimate Resource for AI Tools - Contact" property="og:title">

{% endblock %}

{% block body %}

<div class="sect sect--padding-bottom">
  <div class="container">
    <div class="row">
      <h1 class="row__title">
        Contact Us </h1>
      <h2 class="row__sub">Feel free to ask any questions</h2>
    </div>
    <div class="row row--margin">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="contacts">
          <a href="#" class="contacts__link"><img src="{% static 'img/logo.png' %}" alt="AI Arsenal Logo">
            <h1 class="contacts_title-ag">AI Arsenal</h1>
          </a>
          <p class="contacts__address">
            Bhopal<br>
            Madhya Pradesh 462003<br>
            INDIA
          </p>
          <p class="contacts__info">
            tel. <a href="#" class="contacts__info-link">+1 234 567 890</a>
          </p>
          <p class="contacts__info">
            m. <a href="#" class="contacts__info-link">hvsisodia02@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        
        <form id="contact" class="form" method="POST" action="{% url 'contact' %}">
          {% include 'includes/alerts.html' %}
          {% csrf_token %}
          <div class="form-group">
            <div class="form__field--half">
              <input type="text" placeholder="First Name*" name="name" class="form__field form__text" required></input>
            </div>
            <div class="form__field--half">
              <input type="text" placeholder="Last Name*" name="surname" class="form__field form__text" required> </input>
            </div>
          </div>

          <div class="form-group">
            <div class="form__field--half">
              <input type="text" placeholder="Email address*" name="email" class="form__field form__text" required></input>
            </div>
            <div class="form__field--half">
              <input type="text" placeholder="Phone number" name="phone" class="form__field form__text" required></input>
            </div>
          </div>

          <div class="form-group">
            <textarea type="text" placeholder="Your messsage*" name="message" class="form__field form__textarea" required></textarea>
            <button class="btn btn--up btn--width" type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

{% endblock %}