{% extends 'base.html' %}
{% load static %}

{% block styles %}
<title>AI Arsenal: The Ultimate Resource for AI Tools</title>
<meta content="AI Arsenal collects and organizes all the best AI tools so you too can become superhuman! Find the right AI tools for you and  your business." name="description">

<link rel="canonical" href="https://www.xyz/">

<meta  content="AI Arsenal: The Ultimate Resource for AI Tools" property="og:title">
<meta content="AI Arsenal collects and organizes all the best AI tools so you too can become superhuman! Find the right AI tools for you and  your business." property="og:description">
{% endblock %}

{% block body %}


<div class="sect sect--padding-top" style="padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="site">
          <h1 class="site__title"> Empowering Innovation, Unleashing Potential.</h1>
          <h2 class="site__subtitle">Unlock the Power of AI with us</h2>
          <div class="site__box-link">
            <a class="btn {% if selected_category != None %}btn--revert{% endif %} btn--width" href="{% url 'home' %}"
              style="margin-bottom: 10px;">All</a>


            {% for category in categories %}

            <a class="btn  {% if category != selected_category %}btn--revert{% endif %}" href="{{ category.get_url }}"
              style="margin-bottom: 10px;">{{ category.category_name }}</a>

            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Search BAr -->

<div class="container">
  <div class="row row--margin">
    <div class="col-md-12">
      <form id="contact" class="form" method="GET" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="text"
          placeholder="Search - Try things like &quot;YouTube&quot; or &quot;SEO&quot; to find specific tools for your needs..."
          name="search" class="form__field form__text" required></input>
        <button class="btn btn--up btn--width" type="submit" style="bottom: 4px;">Search</button>
      </form>
    </div>
  </div>
</div>


<!-- Tools -->

<div class="sect sect--padding-bottom">
  <div class="container">
    <div class="row row--center">
      <h1 class="row__title">
        Tools
      </h1>
      <h2 class="row__sub">Your Path to AI Excellence.</h2>
    </div>
    <div class="row row--center row--margin">
      {% for tool in tools %}
      <div class="col-md-4 col-sm-4 price-box price-box--purple" style="margin-bottom: 50px;">
        <div class="price-box__wrap">
          <img src="{{tool.image.url}}" alt="{{tool.name}} Webpage Snapshot" class="price-box__img">
          <h1 class="price-box__title">
            <a href="{{tool.get_url}}" style="text-decoration: none;">{{ tool.name }}</a>
          </h1>


          <a href="{{tool.get_url}}" style="text-decoration: none;">
            <p class="price-box__price">
              {{tool.description | truncatechars:80}}
            </p>
          </a>
          {% with first_category=tool.category.first %}
          <p class="price-box__feat">
            <span style="border: 2px solid #8198ae; border-radius: 35px; padding: 5px 10px;">
              {{first_category.category_name }}
            </span>
          </p>
          {% endwith %}
          <div class="price-box__btn">
            <a class="btn btn--purple btn--width" href="{{ tool.link }}">Visit Site</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- PAGINATIONS -->
<div class="pagination">
  {% if tools.has_previous %}
  <a class="btn btn--revert" href="?page=1">&laquo; First</a>
  <a class="btn btn--revert" href="?page={{ tools.previous_page_number }}">Previous</a>
  {% endif %}

  {% for page_num in page_range %}
  {% if tools.number == page_num %}
  <span class="current-page btn">{{ page_num }}</span>
  {% elif page_num == tools.paginator.ELLIPSIS %}
  <a class="btn btn--revert" href="?page={{ tools.number|add:'1' }}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn--revert" href="?page={{ page_num }}">{{ page_num }}</a>
  {% endif %}
  {% endfor %}

  {% if tools.has_next %}
  <a class="btn btn--revert" href="?page={{ tools.next_page_number }}">Next</a>
  <a class="btn btn--revert" href="?page={{ tools.paginator.num_pages }}">Last &raquo;</a>
  {% endif %}
</div>





<div class="sect sect--white sect--no-padding">
  <div class="container">
    <div class="row row--center">
      <div class="col-md-3 col-xs-6 col-sm-6 partner">
        <a href="#" class="partner__link">
          <img class="partner_img" src="{% static 'img/fblogo.png' %}" alt="Facebook Logo">
        </a>
      </div>

      <div class="col-md-3  col-xs-6 col-sm-6 partner">
        <a href="#" class="partner__link">
          <img class="partner_img" src="{% static 'img/twitterlogo.png' %}" alt="Twitter Logo">
        </a>
      </div>

      <div class="col-md-3 col-xs-6 col-sm-6 partner">
        <a href="#" class="partner__link">
          <img class="partner_img" src="{% static 'img/googlelogo.png' %}" alt="Google Logo">
        </a>
      </div>

      <div class="col-md-3 col-xs-6 col-sm-6 partner">
        <a href="#" class="partner__link">
          <img class="partner_img" src="{% static 'img/dribbblelogo.png' %}" alt="Dribble Logo">
        </a>
      </div>

    </div>
    <div class="row row--center">
      <div class="col-md-3 col-xs-6 col-sm-6 partner">
        <a href="#" class="partner__link">
          <img class="partner_img" src="{% static 'img/gitlogo.png' %}" alt="GitHub Logo">
        </a>
      </div>

      <div class="col-md-3 col-xs-6 col-sm-6 partner">
        <a href="#" class="partner__link">
          <img class="partner_img" src="{% static 'img/stacklogo.png' %}" alt="Stack OverFlow Logo">
        </a>
      </div>

      <div class="col-md-3 col-xs-6 col-sm-6 partner">
        <a href="#" class="partner__link">
          <img class="partner_img" src="{% static 'img/inlogo.png' %}" alt="LinkedIn Logo">
        </a>
      </div>

      <div class="col-md-3 col-xs-6 col-sm-6 partner">
        <a href="#" class="partner__link">
          <img class="partner_img" src="{% static 'img/codepenlogo.png' %}" alt="CodePen Logo">
        </a>
      </div>
    </div>
  </div>
</div>


<div class="sect sect--violet ">
  <img src="{% static 'img/path3762.png' %}" class="career-img" alt="Background Image for Div">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="career_title">AI Arsenal - Unleashing the Power of AI Tools</h1>
        <h1 class="career_sub">Unlock the potential of artificial intelligence. Empower your AI journey with AI Arsenal
          today.</h1>
        <a href="#" class="btn btn--white btn--width">Explore</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}